<div id="panelCalculo" class="content" ng-controller="tributosController" ng-hide="loadIntro">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="fa fa-percent"></span>&nbsp;&nbsp;Tributos
		</div>
		<div class="panel-body">
			<div ng-show="tributos.length > 0">
				<div class="table-responsive" >
					<table class="table table-condensed table-hover" ng-init="findAll()">
						<thead>
							<th>Cód.Tributo</th>
							<th>Descrição</th>
							<th>Aliquota(%)</th>
						</thead>
						<tbody>
							<tr ng-repeat="tributo in tributos">
								<td>{{tributo.codTributo}}</td>
								<td>{{tributo.descricaoTributo}}</td>
								<td>{{tributo.aliquotaTributo}}%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>