<div id="panelCalculo" class="content" ng-controller="tributosController">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="fa fa-edit"></span>&nbsp;&nbsp;Cadastro de Tributos
		</div>
		<div class="panel-body">
			<form name="tributosForm" class="form-group">
				<div class="form-group">
					<label for="descrRegTributario">Descrição</label> 
					<input id="descrRegTributario" name="descrRegTributario" ng-model="tributo.descricaoTributo" type="text" class="form-control" ng-required="true">
				</div>
				<div class="form-group">
					<label for="aliquotaTributo">Aliquota(%)</label> 
					<input id="aliquotaTributo" name="aliquotaTributo" ng-mask="##0,00" ng-model="tributo.aliquotaTributo" type="text" class="form-control">
				</div>
				<div class="text-right">
					<button id="resetTributo" type="button" class="btn btn-default">
						Cancelar&nbsp;&nbsp;<span class="fa fa-ban" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-success" ng-disabled="tributosForm.$invalid">
						Salvar&nbsp;&nbsp;<span class="fa fa-save" aria-hidden="true"></span>
					</button>
				</div>
			</form>
		</div>
	</div>
	<div ng-show="tributos.length > 0">
		<div class="table-responsive" >
			<table class="table table-condensed table-hover" ng-init="findAll()">
				<thead>
					<th>Cód.Tributo</th>
					<th>Descrição</th>
					<th>Aliquota(%)</th>
					<th>Ações</th>
				</thead>
				<tbody>
					<tr ng-repeat="tributo in tributos">
						<td>{{tributo.codTributo}}</td>
						<td>{{tributo.descricaoTributo}}</td>
						<td>{{tributo.aliquotaTributo}}%</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>