<div id="panelCalculo" class="content" ng-controller="impostosController">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="fa fa-calculator"></span>&nbsp;&nbsp;Cálculo de Impostos
		</div>
		<div class="panel-body">
			<form name="calculaImpostoForm" class="form-group">
				<div class="alert {{alertMessage.typeAlert}} alert-dismissable fade in" ng-show="showAlert">
				   <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
				   <i class="{{alertMessage.alertIcon}}"></i>&nbsp;&nbsp;<strong>{{alertMessage.typeMessage}} </strong>{{alertMessage.status}} {{alertMessage.message}}
				</div>
				<div class="form-group" ng-init="findClientes()">
					<label for="clienteImposto">Cliente</label> 
						<select ng-model="dadosImpostos.codCliente" ng-change="onSelectCliente(dadosImpostos.codCliente)" ng-required="true" ng-disabled="clientes.length < 1" ng-options="cliente.idCliente as cliente.nomeRazaoSocial for cliente in clientes" class="form-control" id="clienteImposto">
						<option value="">-Selecione-</option>
					</select>
				</div>
				
				<div ng-show="showCalcular">
					<div class="form-group">
						<label for="dtBaseImposto">Período</label>
						<div class="input-group date" ng-month-year-picker>
							<input ng-model="dadosImpostos.yearMonth" ng-required="true" ng-change="validateImpostosMes()" id="dtBaseImposto" name="dtBaseImposto" type="text" class="form-control" /> 
							<span class="input-group-addon"> 
								<i class="fa fa-calendar"></i>
							</span>
						</div>
					</div>
					
					<div class="text-right">
						<button id="resetImposto" type="button" class="btn btn-default" ng-show="showCalcular" ng-click="cancel()">
							Cancelar&nbsp;&nbsp;<span class="fa fa-ban" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-success" ng-disabled="calculaImpostoForm.$invalid"  ng-click="calculateImpostos(dadosImpostos)">
							Calcular&nbsp;&nbsp;<span class="fa fa-calculator" aria-hidden="true"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<form name="tblImpostosForm" class="form-group">
		<div ng-show="impostos.length > 0">
			<div class="table-responsive" >
				<table class="table table-condensed table-hover" ng-init="findByCodCliente(dadosImpostos.codCliente)">
					<thead>
						<th>Cliente</th>
						<th>Período</th>
						<th>Tipo Tributo</th>
						<th>Vecimento</th>
						<th>(R$)Valor</th>
						<th class="text-center">Pago</th>
					</thead>
					<tbody>
						<tr ng-repeat="imposto in impostos">
							<td>{{imposto.clienteDTO.nomeRazaoSocial}}</td>
							<td>{{imposto.yearMonth}}</td>
							<td>{{imposto.tributoDTO.descricaoTributo}}</td>
							<td>{{imposto.dataVencimento}}</td>
							<td>{{imposto.valorImposto}}</td>
							<td class="text-center">
								<button class="btn btn-link" ng-click="loadModal(imposto.idImposto)">
									<span class="{{imposto.statusPagamento ? 'fa fa-sm fa-thumbs-up text-success' : 'fa fa-sm fa-thumbs-down text-danger'}}"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</form>
	<div class="modal fade bs-example-modal-lg" ng-show-modal="showModalConfirm" name="confirmPagto" id="confirmPagto">
		<div class="modal-dialog modal-lg" >
			<div class="modal-content">
				<form name="confirmPagtoForm" class="form-group">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Confirmar Pagamento</h4>
					</div>
					<div class="modal-body">
						<ul>
						  <li>
						  	<label>Cliente:</label>&nbsp;{{imposto.clienteDTO.nomeRazaoSocial}}
						  </li>
						  <li>
						  	<label>Período:</label>&nbsp;{{imposto.yearMonth}}
						  </li>
						  <li>
						  	<label>Tributo:</label>&nbsp;{{imposto.tributoDTO.descricaoTributo}}
						  </li>
						  <li>
						  	<label>Vencimento:</label>&nbsp;{{imposto.dataVencimento}}
						  </li>
						  <li>
						  	<label>Valor(R$):</label>&nbsp;{{imposto.valorImposto}}
						  </li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Fechar&nbsp;&nbsp;<span class="fa fa-remove" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-success" ng-click="confirmar(imposto)">
							Confirmar&nbsp;&nbsp;<span class="fa fa-check" aria-hidden="true"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade bs-example-modal-lg" ng-show-modal="showModalCancel" name="cancelPagto" id="cancelPagto">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form name="cancelPagtoForm" class="form-group">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Cancelar Pagamento</h4>
					</div>
					<div class="modal-body">
						<ul>
						  <li>
						  	<label>Cliente:</label>&nbsp;{{imposto.clienteDTO.nomeRazaoSocial}}
						  </li>
						  <li>
						  	<label>Período:</label>&nbsp;{{imposto.yearMonth}}
						  </li>
						  <li>
						  	<label>Tributo:</label>&nbsp;{{imposto.tributoDTO.descricaoTributo}}
						  </li>
						  <li>
						  	<label>Vencimento:</label>&nbsp;{{imposto.dataVencimento}}
						  </li>
						  <li>
						  	<label>Valor(R$):</label>&nbsp;{{imposto.valorImposto}}
						  </li>
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Fechar&nbsp;&nbsp;<span class="fa fa-remove" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-danger" ng-click="cancelar(imposto)">
							Cancelar&nbsp;&nbsp;<span class="fa fa-ban" aria-hidden="true"></span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>