<div id="panelCalculo" class="content" ng-controller="regimesTributariosController">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="fa fa-book"></span>&nbsp;&nbsp;Regimes Tributários
		</div>
	</div>
	<div ng-show="regimesTributarios.length > 0">
		<div class="table-responsive" >
			<table class="table table-condensed table-hover" ng-init="findAll()">
				<thead>
					<th>Cód.Regime</th>
					<th>Descrição</th>
					<th class="text-center">Possui Anexos</th>
				</thead>
				<tbody>
					<tr ng-repeat="regimeTributario in regimesTributarios">
						<td>{{regimeTributario.codRegimeTributario}}</td>
						<td>{{regimeTributario.descricaoRegimeTributario}}</td>
						<td class="text-center">
							<button class="btn btn-link">
								<span class="{{regimeTributario.enabledAnexos ? 'fa fa-sm fa-thumbs-up text-success' : 'fa fa-sm fa-thumbs-down text-danger'}}"></span>
							</button>							
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>